
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #000000;
    color: #ffffff;
    overflow: auto;
  }

  .main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
    flex-wrap: wrap;
  }
  
  .sidebar {
    background-color: #000000;
    width: 300px;
    border-radius: 1rem;
    margin-right: 0.5rem;
  }
  
  .main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0rem 1.5rem;
  }
  
